/build/*
/build
CMakeLists.txt.user
/data/*
/ThirdParty/*
/doc/Doxyfile
/doc/doxy/*
/common/src/parpeVersion.h
/common/src/parpeConfig.h
.project
.pydevproject
.settings/
__pycache__/
*.pyc
*.mexa64
.ipynb_checkpoints/
