*/build/*
/build*/
CMakeLists.txt.user
/data/*
/ThirdParty/*
/doc/Doxyfile
/doc/doxy/*
.project
.pydevproject
.idea/*
.settings/
__pycache__/
*.pyc
*.mexa64
.ipynb_checkpoints/
*deleteme*
.directory
*/swig/*_wrap.cpp
/amici/examples/steadystate/model_steadystate_scaled
/amici/examples/lucarelli/lucarelli_12/lucarelli_12/


# amici
deps/AMICI/python/sdist/amici.egg-info/
deps/AMICI/python/sdist/amici/amici.py
deps/AMICI/python/sdist/amici/amici_without_hdf5.py
deps/AMICI/python/sdist/amici/amici_wrap.cxx
deps/AMICI/python/sdist/amici/amici_wrap_without_hdf5.cxx
deps/AMICI/python/sdist/amici/version.txt

python/test_*.png
