/build/*
CMakeLists.txt.user
/data/*
/ThirdParty/*
/doc/Doxyfile
/doc/doxy/*
.project
.pydevproject
.settings/
__pycache__/
*.pyc
*.mexa64
.ipynb_checkpoints/
/amici/examples/steadystate/model_steadystate_scaled
*deleteme*
.directory
.idea/*

# amici
deps/AMICI/python/sdist/amici.egg-info/
deps/AMICI/python/sdist/amici/amici.py
deps/AMICI/python/sdist/amici/amici_without_hdf5.py
deps/AMICI/python/sdist/amici/amici_wrap.cxx
deps/AMICI/python/sdist/amici/amici_wrap_without_hdf5.cxx
deps/AMICI/python/sdist/amici/version.txt
