sphinx
sphinx_rtd_theme>=1.2.0
breathe>=4.35.0
exhale>=0.2.3
ipython>=8.13.2
m2r2>=0.2.7
sphinx-autodoc-typehints>=1.10.3
nbsphinx==0.9.1
nbconvert>=7.1.0
-e git+https://github.com/svenevs/exhale.git@a1a8551321e246e3ab81f5456e04a8159804595b#egg=exhale

# to import parpe package:
numpy
h5py
petab
coloredlogs
pandas
colorama
matplotlib
sympy
